<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ config.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
    <!-- <div class="parallax"> </div> -->

    <div class="text">{{ section.content | safe }}</div>

</body>
<script>
    var links = document.links;

    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
        if (links[i].hostname != window.location.hostname) {
            links[i].target = '_blank';
        }
    }
</script>

</html>