<div class="parallax-container">
    <div class="parallax" style="background-image: url({{ img }});min-height: {{ height }};">
        {% if body %}
        <div class="caption">
            <div class="border">{{ body }}</div>
        </div>
        {% endif %}
    </div>
</div>